{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'sidebars.css' %}" />
    <title>SPC Controller</title>
  </head>
  <body>
    <div class="container-fluid d-flex flex-column">
        <div class="row">
            <div class="col-2" style="height:100vh; padding:0px">
                <div class="container-fluid d-flex flex-column">
                <div class="row top-left-row-border" style="height:50vh; padding:0px">
                    <div class="col" style="margin-top: 30px;">
                        <form class="filter-form" id="searchForm" method="post">
                            <div class="form-group">
                              <input type="text" class="form-control" name="mode" placeholder="Mode" id="modeId">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" name="bladeId" placeholder="Blade Id" id="BladeId">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" name="bladeType" placeholder="Blade Type" id="BladeType">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="coilId" placeholder="Coil Id" id="CoilId">
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" name="batchNumber" placeholder="Batch Number" id="BatchNumberId">
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" name="operator" placeholder="Operator" id="OperatorId">
                              </div>
                              <div class="form-group">
                                <input type="date" class="form-control" name="date" placeholder="Date" id="DateId">
                              </div>
                            <button type="submit" class="btn btn-primary right-border">Search</button>
                          </form>
                    </div>
                </div>
                <div class="row top-left-row-border-no-bottom" style="height:50vh; padding:0px">
                    <div class="col" style="padding:0px">
                        <div class="list-group" id="filtered-list">
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-10" style="height:100vh; padding:0px" id="galleryContainer">
              
              <img src = "{% static 'loading.gif' %}" class="empty-image" id="loading" hidden/>
              <img src = "{% static 'nomatch1.gif' %}" class="empty-image" id="nomatch" hidden/>
              
                <ul class="thumbnails" style="padding: 0px;" id="plot_gallery"></ul>
            </div>
        </div>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="{% static 'actions.js' %}"></script>
    

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>